.form-bg-pic{
      background-image: url(jtlu.jfif);
      background-size: cover;
    margin-top: 15px;
    background-attachment: fixed;
}
.home-apply-one{
    background-image: url(jtl.jpg);
    background-size: cover;
  margin-top: 10px;
  background-attachment: fixed;

}
nav ul{ 
     padding-top: 60px;
    display: flex;
 
}
nav li{
    list-style: none;
    margin: 20px;
    padding: 0px 10px;

}
nav li:hover{
    background-color: brown;
}
nav li a{
    text-decoration: none;
    color: rgb(18, 223, 11);
    font-size: 20px;
}
.form-apply-one{
    font-size: 70px;
    text-align: center;
    color: rgb(243, 243, 243);
    padding-bottom:130px;
    padding-top:130px;
}
.home-apply-one{

    font-size: 50px;
    text-align: center;
    color: rgb(243, 243, 243);
    padding-bottom:130px;
    padding-top:130px;
}
.form-apply-koro{
     color: crimson;

}
.home-apply-koro{
    color: rgb(3, 45, 231);
}
.form-button-down{
   margin-top: 70px;
   padding-top: 30px;
}
.form-mid-mid{
    text-align: center;
    font-size: 30px;
    color: darkblue;
      
} 
.form-lrft{
    margin-left: 20px;
    padding-bottom: 30px;
}  